<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main2.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header-div">
            <div>
                <% if(napad == 1) { %>
                    <p>SQL umetanje (SQL Injection)</p>
                <% } %>
                <% if(napad == 2) { %>
                    <p>Loša kontrola pristupa (Broken Access Control)</p>
                <% } %>
                <% if(napad == 0) { %>
                    <p>Onemogućene ranjivosti</p>
                <% } %>
            </div>
            <div style="text-align: center;">
                <a href="/">Odabir ranjivosti</a>
            </div>
            <div style="text-align: end;">
                
            </div>

        </div>
    </header>
    <% if(podaci.length > 0){ %>
        <% for (const p of podaci) { %>
            <div style="display: flex">
                <div>
                    <img src="<%=p.profilepicture%>" alt="<%=p.profilepicture%>" style="height: 30vh;">
                </div>
                <div>
                    <p>username: <%=p.username%></p><br>
                </div>
                
            </div>
        <% } %>
    <% } else { %>
        <p>Traženi korisnik ne postoji</p>
    <% } %>
</body>
</html>