<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main2.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header-div">
            <div>
                <% if(napad == 1) { %>
                    <p>SQL umetanje (SQL Injection)</p>
                <% } %>
                <% if(napad == 2) { %>
                    <p>Loša kontrola pristupa (Broken Access Control)</p>
                <% } %>
                <% if(napad == 3) { %>
                    <p>Onemogućene ranjivosti</p>
                <% } %>
            </div>
            <div style="text-align: center;">
                <a href="/">Odabir ranjivosti</a>
            </div>
            <div style="text-align: end;">
                :)
            </div>

        </div>
    </header>
    <% if(napad == 1) { %>

        <div id="infoBox">
            <p>Moguće je napraviti <i>SQL Injection napad</i> metodom ulančanog upita i na taj način izvršiti više sql naredbi</p>
            <br>
            <p>npr.:</p><br>
            <p>uputa: kopirati sadržaj iz zagrada u polje Username isključujući zagrade i kliknite na prijava</p>
            <p>  (' ; update users_lab2 set password='myPassword' where username='ana)  ---> ULANČANI UPIT: postavlja lozinku za korisnika <i>ana</i> na vrijednost: myPassword. Napadač će biti preusmjeren na login stranicu s porukom da podaci za prijavu nisu ispravni ali SQL upit napadača se izvršio nad bazom podataka i sada se napadač može prijaviti sa izmjenjenim podacima (username: ana, password: myPassword)</p><br>
            <p>ili se samo prijavite s jednim od navedenih korisnika i na slijedećem ekranu testirajte ranjivosti:</p>
            <ul>
                <li>username: ana<br>
                    password: ana123
                </li>
                <li>username: pero<br>
                    password: pero123
                </li>
                <li>username: iva<br>
                    password: iva123
                </li>
                <li>username: luka<br>
                    password: luka123
                </li>
                <li>username: maja<br>
                    password: maja123
                </li>
                <li>username: marko<br>
                    password: marko123
                </li>
                <li>username: admin<br>
                    password: 123456
                </li>
            </ul>
        </div>
        
        <br>
        <p>Klikom na gumb moguće je prikazati stanje baze prije i nakon sql umetanja (razlike u bazi s lijeve i desne strane će postojati samo ako je SLQ Injection proveden. Npr. ako je unesena gore navedena naredba)</p><br>
        <button id="btn">Raširi/skupi prikaz stanje baze</button>
        <div id="collapsable" style="display: none;">
            <% if(locals.stanjeBazePrije && locals.stanjeBazeNakon){ %>
                <div id="left-div">
                    <h1>PRIJE SQL INJECTION-A</h1>
                    <% for (const s of stanjeBazePrije) { %>
                        <div>
                            <p>userId: <%=s.userid%></p>
                            <p>email: <%=s.email%></p>
                            <p>username: <%=s.username%></p>
                            <p>password: <%=s.password%></p>
                            <p>profilePicture: <%=s.profilepicture%></p>
                            <p>address: <%=s.address%></p>
                            <p>birthDate: <%=s.birthdate%></p>
                            <p>role: <%=s.role%></p>
                            <hr>
                        </div>
                    <% } %>
                </div>
                <div id="right-div">
                    <h1>NAKON SQL INJECTION-A</h1>  
                    <% for (const s of stanjeBazeNakon) { %>
                        <div>
                            <p>userId: <%=s.userid%></p>
                            <p>email: <%=s.email%></p>
                            <p>username: <%=s.username%></p>
                            <p>password: <%=s.password%></p>
                            <p>profilePicture: <%=s.profilepicture%></p>
                            <p>address: <%=s.address%></p>
                            <p>birthDate: <%=s.birthdate%></p>
                            <p>role: <%=s.role%></p>
                            <hr>
                        </div>
                    <% } %>
                </div>
            <%}%>
        </div>

        <form action="/profileSQLInjection" method="post">
            <div>
                <label for="username">Username: </label><input type="text" name="username" id="username" placeholder="Unesite korisničko ime..."><br>
            </div>
            <div>
                <label for="password">Lozinka: </label><input type="password" name="password" id="password" size="100" placeholder="Unesite lozinku..."><br>
            </div>
            <div>
                <label for="vrstaNapada"></label><input hidden type="text" name="vrstaNapada" id="vrstaNapada" size="100" value="1"><br>
            </div>
            <div>
                <%=greska%>
            </div>
            <button type="submit">Prijava</button>
        </form>
    <% } %>
    <% if(napad == 2) { %>
        <div id="infoBox">
            <p>Prijavite s jednim od navedenih podataka:</p>
            <ul>
                <li>username: ana<br>
                    password: ana123
                </li>
                <li>username: pero<br>
                    password: pero123
                </li>
                <li>username: iva<br>
                    password: iva123
                </li>
                <li>username: luka<br>
                    password: luka123
                </li>
                <li>username: maja<br>
                    password: maja123
                </li>
                <li>username: marko<br>
                    password: marko123
                </li>
                <li>username: admin<br>
                    password: 123456
                </li>
            </ul>
        </div>
        <form action="/profileBAC" method="post">
            <div>
            <label for="username">Username: </label><input required pattern="[a-zA-Z0-9]+" oninvalid="this.setCustomValidity('Obavezan unos. Dozvoljen je unos samo slova i brojeva.')"
            oninput="this.setCustomValidity('')" type="text" name="username" id="username" size="100" placeholder="Unesite korisničko ime..."><br>
            </div>
            <div>
                <label for="password">Lozinka: </label><input required type="password" name="password" id="password" size="100" placeholder="Unesite lozinku..."><br>
            </div>
            <div>
                <label for="vrstaNapada"></label><input hidden type="text" name="vrstaNapada" id="vrstaNapada" size="100" value="2"><br>
            </div>
            <div>
                <%=greska%>
            </div>
            <button type="submit">Prijava</button>
        </form>
    <% } %>
    <% if(napad == 0) { %>
        <div id="infoBox">
            <p>Prijavite s jednim od navedenih podataka ili testirajte ranjivosti:</p>
            <ul>
                <li>username: ana<br>
                    password: ana123
                </li>
                <li>username: pero<br>
                    password: pero123
                </li>
                <li>username: iva<br>
                    password: iva123
                </li>
                <li>username: luka<br>
                    password: luka123
                </li>
                <li>username: maja<br>
                    password: maja123
                </li>
                <li>username: marko<br>
                    password: marko123
                </li>
                <li>username: admin<br>
                    password: 123456
                </li>
            </ul>
        </div>
        <form action="/profile" method="post">
            <div>
            <label for="username">Username: </label><input required pattern="[a-zA-Z0-9]+" oninvalid="this.setCustomValidity('Obavezan unos. Dozvoljen je unos samo slova i brojeva.')"
            oninput="this.setCustomValidity('')" type="text" name="username" id="username" size="100" placeholder="Unesite korisničko ime..."><br>
            </div>
            <div>
                <label for="password">Lozinka: </label><input type="password" name="password" id="password" size="100" placeholder="Unesite lozinku..."><br>
            </div>
            <div>
                <%=greska%>
            </div>
            <div>
                <label for="vrstaNapada"></label><input hidden type="text" name="vrstaNapada" id="vrstaNapada" size="100" value="0"><br>
            </div>
            <button type="submit">Prijava</button>
        </form>
    <% } %>


    <script>
        var btn = document.getElementById('btn');
        var content = document.getElementById('collapsable');
        btn.onclick = function() {
            if(content.style.display === 'none'){
                content.style.display = 'flex'
            } else {
                content.style.display = 'none'
            }
        }
    </script>
</body>
</html>