<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main2.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header-div">
            <div>
                <% if(napad == 1) { %>
                    <p>SQL umetanje (SQL Injection)</p>
                <% } %>
                <% if(napad == 2) { %>
                    <p>Loša kontrola pristupa (Broken Access Control)</p>
                <% } %>
                <% if(napad == 0) { %>
                    <p>Onemogućene ranjivosti</p>
                <% } %>
            </div>
            <div style="text-align: center;">
                <a href="/">Odabir ranjivosti</a>
                <a href="/">Odjava</a>
            </div>
            <div style="text-align: end;">
                <p>KORISNIK: <%=username%></p>
            </div>

        </div>
    </header>
    <% if(napad == 1) { %>
        <div id="infoBox">
            <p>Čak i ako je <i><%=username%></i> legitimno pristupio/la ovoj stranici koristeći svoje podatke za prijavu (a ne korištenjem SQL Injectiona) ovdje, na stranici svog profila, može iskoristiti neke postupke napada koje <i>SQL Injetion</i> nudi</p>
            <br>
            <p>npr.:</p><br>
            <p>uputa: kopirati sadržaj iz zagrada isključujući zagrade</p>
            <p>  (' or 'a'='a)  ---> TAUTOLOGIJA (kao rezultat će biti prikazani svi korisnici koji postoje u bazi podataka)</p><br>
            <p>  (' union select username, password from users_lab2 where 'a'='a) ---> UPIT UNION (kao rezultat će biti prikazana lozinka i username svih korisnika)</p>
        </div>
    <% } %>
    <% if(napad == 2) { %>
        <div id="infoBox">
            <p>Moguće je promijeniti userId u url-u (http://localhost:3000/profileBAC2?userId=3) i na taj način pristupiti profilima drugih korisnika</p>
        </div>
    <% } %>
    <br>
    PROFIL
    <div style="display: flex">
        <div>
            <img src="<%=podaci[1]%>" style="height: 30vh;">
        </div>
        <div>
            JAVNI PODACI:<br>
            username: <%=podaci[0]%> <br>
            PRIVATNI PODACI: <br>
            datum rođenja: <%=podaci[2]%> <br>
            adresa: <%=podaci[3]%> <br>
        </div>
    </div>
    <br>
    <div>
        <% if(napad == 1) { %>
            <form action="/findUserSQLInjection" method="post">
                <div>
                    <label for="username">Pretraži korisnike: </label><input type="text" name="username" id="username" placeholder="Unesite korisničko ime..."><br>
                </div>
                <button type="submit">Traži</button>
            </form>
        <% } %>
        <% if(napad == 2) { %>
            
        <% } %>
        <% if(napad == 0) { %>
            <form action="/findUser" method="post">
                <div>
                    <label for="username">Pretraži korisnike: </label><input required pattern="[a-zA-Z0-9]+" oninvalid="this.setCustomValidity('Obavezan unos. Dozvoljen je unos samo slova i brojeva.')"
                    oninput="this.setCustomValidity('')" type="text" name="username" id="username" size="100" placeholder="Unesite korisničko ime..."><br>
                </div>
                <button type="submit">Traži</button>
            </form>
        <% } %>
    </div>
</body>
</html>