<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main2.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header-div">
            <div>
                <p>WEB2 LAB2</p>
            </div>
            <div style="text-align: center;">
                
            </div>
            <div style="text-align: end;">
                <p>:)</p>
            </div>

        </div>
    </header>
    <p>Svaka od ponuđenih tipki vodi na sadržajem i funkcionalnostima istu stranicu.</p>
    <p>Stranice se razlikuju jedino po tome što je na njima omogućena odabrana ranjivost, odnosno onemogućena bilo kakva ranjivost ako je odabran zadnji gumb.</p>
    <p>Na stranicama postoje upute za provođenje određenenih postupaka odabranog napada, ali moguće je probati izvesti i neki drugi postupak napada koji je naveden na predavanju.</p>
    <form action="/login" method="post">
        <label for="vrstaNapada"></label><input hidden type="text" name="vrstaNapada" id="vrstaNapada" size="30" value="1"><br>
        <input type="submit" value="SQL umetanje (SQL Injection)"/>
    </form><br>
    <form action="/login" method="post">
        <input hidden type="text" name="vrstaNapada" id="vrstaNapada" size="30" value="2"><br>
        <input type="submit" value="Loša kontrola pristupa (Broken Access Control)"/>
    </form><br>
    <form action="/login" method="post">
        <label for="vrstaNapada"></label><input hidden type="text" name="vrstaNapada" id="vrstaNapada" size="30" value="0"><br>
        <input type="submit" value="Onemogućene ranjivosti"/>
    </form><br>
</body>
</html>