#header-div{
    background-color: rgb(160, 206, 247);
    height: 5vh;
    display: flex;
    justify-content: space-between;
    /*display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;*/
}

#header-div div {
    flex-grow: 1;
  flex-basis: 0;
}

#infoBox{
    border: solid 5px red;
    color: red;
}